<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630960905987-6nm0uk8dsirrdr02r8nadpvgc6k3ho1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630960905987-6nm0uk8dsirrdr02r8nadpvgc6k3ho1u</string>
	<key>API_KEY</key>
	<string>AIzaSyD3vclkbLEdXrNYZVkYHs_ZuntaVeHWGKg</string>
	<key>GCM_SENDER_ID</key>
	<string>630960905987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.BhagavadGita.qa</string>
	<key>PROJECT_ID</key>
	<string>bhagavadgita-41c8a</string>
	<key>STORAGE_BUCKET</key>
	<string>bhagavadgita-41c8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630960905987:ios:a98353c7f891a1111d5336</string>
</dict>
</plist>